.body1 {
  background: #6b6b6b;
  /* height: 14vh; */
  font-size: 45px;
  padding: 3vh;
}
.copyright {
  background: #212121;
}
.copyright p a {
  /* color: #00bb2d; */
  text-decoration: none;
}
.body1 a {
  transition: 0.3s;
  margin-left: 25px;
  cursor: pointer;
}

.mail,
.wpp,
.cel,
.insta,
.location {
  text-decoration: none;
  color: rgb(219, 216, 216);
}
.mail:hover {
  color: #f2a60c;
}
.wpp:hover {
  color: #00bb2d;
}
.cel:hover {
  color: red;
}
.insta:hover {
  color: #d6249f;
  /* background: #d6249f; */
}
.location:hover {
  color: #4285f4;
  /* background: #d6249f; */
}
