.imgs {
  height: 300px;
  /* width: auto; */
  object-fit: cover;
}
.body {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 84px;
  height: 100vh;
  left: 0px; */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10vh;
  /* gap: 84px; */
  /* height: 100vh; */
  left: 0px;
}
.container h2 {
  font-family: "BN Chester", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.005em;
}
.container span {
  color: #d18d3a;
  font-weight: 500;
}

.Swipper {
  cursor: grab;
  text-align: center;
}
