.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 84px;
  height: 100vh;
  left: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 8vh;

  /* position: absolute; */
  /* width: 100%; */
  /* height: 669px; */
  left: 0px;
  top: 1135px;
}

.container h2 {
  font-family: "BN Chester", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.005em;
}

.container span {
  color: #d18d3a;
  font-weight: 500;
}
.description {
  /* width: 270px;
  height: 81px; */

  /* Body */

  /* font-family: "Gilroy"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  text-align: center;

  color: #8d8d8d;
}

.services {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12vw;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.icons {
  background-color: red;
  height: 500px;
  color: #cece1b;
  font-size: 1000px;
  z-index: 9999999;
}
.img {
  font-size: 18vh;
}

.services h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
