.body {
  /* height: 50vh; */
  padding: 71px;
  background: #d3a16592;
  width: 100%;
}

.container h1 {
  width: 118px;
  height: 82px;

  /* H2 */

  font-family: "Rubik", sans-serif;
  font-family: "BN Chester", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 41px;
  /* letter-spacing: 0.005em; */

  color: #161616;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.container h6 {
  width: 570px;
  height: 243px;

  /* Body */

  /* font-family: "Gilroy"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  /* Dark text */

  color: #161616;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.container span {
  color: #d18d3a;
  font-weight: 500;
}

.imgAbout {
  height: 50vh;
  /* width: 50vw; */
  position: absolute;
  /* right: 10px; */
  object-fit: cover;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 1, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
