.container {
  /* position: absolute; */

  /* min-height: 100px; */
  overflow: hidden;
  float: right;

  right: 200px;
}

.imgCarrousel {
  width: 40vw;
  height: 50vh;
  border-radius: 40px;
  object-fit: cover;
  /* height: 20vh; */
}
.carr {
  width: 40vw;
  height: 50vh;
}
