.body {
  -webkit-animation: fadeInFromNone 1.5s ease-out;
  -moz-animation: fadeInFromNone 1.5s ease-out;
  -o-animation: fadeInFromNone 1.5s ease-out;
  animation: fadeInFromNone 1.5s ease-out;
}

.imgCarrousel {
  width: 40vw;
  height: 50vh;
  border-radius: 40px;
  object-fit: cover;
}
.carr {
  width: 45vw;
  height: 50vh;
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .carr {
    width: 85vw;
    height: 50vh;
    /* padding-top: 40px; */
  }
  .imgCarrousel {
    width: 85vw;
    height: 50vh;
    border-radius: 40px;
    object-fit: cover;
  }
}
