@font-face {
  font-family: "BN Chester";
  src: url("../../Fonts/BNChester.otf") format("woff2");
}
.body {
  /* min-height: 60vh; */
  padding: 50px;
  position: relative;
  margin-top: 10vh;
}

.textHome {
  min-width: 35vw;
}
.body h1 {
  max-width: 30vw;
  height: 128px;

  /* H1 */

  font-family: "Rubik", sans-serif;

  font-weight: 400;
  /* font-size: 68px; */
  line-height: 64px;
  letter-spacing: 0.01em;

  color: #3d3737;
}
.body p {
  margin-top: 40px;

  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  color: #161616;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.buttonHome {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 138px;
  height: 45px;
  background-color: transparent;
  /* Second color */
  color: #161616;
  border: 2px solid #d3a265;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.buttonHome:hover {
  background-color: #d3a165b8;
  transition: 0.4s;
}

.body span {
  width: 100px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  /* Dark text */

  color: #161616;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
