.imgLogo {
  height: 60px;
  width: 130px;
}

.navbar {
  white-space: nowrap;
  padding-top: 0vh;
  transition: 0.3s;
  z-index: 99999;
  height: 15vh;
  /* overflow: hidden; */
  /* background-color: #333; */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.sticky {
  height: 10vh;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  background-color: #d3a16592;
  backdrop-filter: blur(3px);
  transition: 0.3s;
  z-index: 999;
  font-weight: 400;
}
