.link {
  background: none;
  position: relative;
  text-decoration: none;
  padding: 0.5vw 1vw;
  color: rgb(22, 21, 21);
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  /* width: 10vw; */
}
.active {
  background: none;
  position: relative;
  text-decoration: none;
  padding: 0.5vw 1vw;
  color: #f9004d;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  pointer-events: none;
}
.imgLogo {
  height: 60px;
  width: 130px;
}

.navbar {
  white-space: nowrap;
  padding-top: 0vh;
  transition: 0.3s;
  z-index: 99999;
  height: 15vh;

  /* transition: 0.6s; */
  /* background-color: red; */
}
.sticky {
  /* width: 100vw; */
  padding-top: 5px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d3a16592;
  backdrop-filter: blur(3px);
  transition: 0.3s;
  z-index: 999;
  font-weight: 400;
}
