.body {
  /* margin-left: 5rem; */
  display: flex;
  flex-direction: column;
  /* width: 15vw; */
  min-height: 80vh;
  border: 1px rgba(128, 128, 128, 0.329) solid;
  padding: 1rem;
  border-radius: 10px;
}
